@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

// colors
$primary-200: #F37521;
$primary-40: rgba(243, 117, 33, 0.4);
$paper-color: #FCFCFC;
$paper-color-40: rgba(252, 252, 252, 0.4);
$gray-300: #CFC9CF;
$gray-250: #bbb5bb;
$gray-400: #131113;
$gray-25: #F5F4F5;
$gray-30: #ececec;
$text-dark: #201D20;
$text-color-light: #8B7E8B;
$helper-green: #218141;
$helper-green-light: #E7F7EB;
$helper-rose-light: #F7ECEB;
$helper-rose-dark: #AE2217;
$gray-200: #E2DFE2;
$warning-700: #8F6B00;
$gray-600: #8C7D8C;

* {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  color: $text-dark;
  padding: 0;
  margin: 0;
}

h2 {
  color: $text-dark;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
}

p {
  text-align: left;
}

.description {
  color: $text-color-light;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
}

.warning-text {
  color: $warning-700;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.text-gray-600 {
  color: $gray-600;
}