@import "../../GlobalStyles";

.iconButton {
  width: 24px;
  height: 24px;
  color: $text-dark;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-self: center;
  border: none;

  &:hover {
    cursor: pointer;
    color: $gray-400;
  }

  &:hover, &:focus-visible, &:focus, &:active, &:focus-within, &:visited, &:target {
    border: none;
  }

  & > span.disabled {
    color: $gray-200;
  }
}