@import "../../GlobalStyles";

.form-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);

  & > div:first-child {
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & > .avatar-box {
    display: flex;
    flex-direction: column;

    & > .image {
      width: 131px;
      height: 131px;
      border-radius: 8px;
    }
  }
}